
<div class="container">
  <h1 class="my-5 text-center text-white">Our Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-4">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card mb-3">
            <% if cocktail.photo.attached? %>
              <%= cl_image_tag cocktail.photo.key, crop: :fill, class: "card-img-top", alt: "Card image cap" %>
            <% else %>
              <img class="card-img-top" src=<%= cocktail.picture_url %>>
            <% end %>
            <div class="card-body">
              <h5><%= cocktail.name %></h5>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
